/* Define the gradient colors that the script will use */
:root {
  --gradient-color-1: #A0A7AF;
  --gradient-color-2: #778089;
  --gradient-color-3: #384450;
  --gradient-color-4: #1D2B38;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: #333;
}

.hero {
    position: relative;
    height: 800px;
}

#gradient-canvas {
    position: absolute; /* Changed from fixed to absolute */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Changed to fill the hero container */
    z-index: -1;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Changed to fill the hero container */
}

.content img {
    /* The max-height and max-width ensure the image is responsive within the hero section */
    max-height: 100%;
    max-width: 100%;
}

.bottom img {
    width: 74%;
    height: auto;
}